[submodule "swift-tui"]
	path = swift-tui
  url = git@github.com:SwiftTUI/swift-tui.git
  branch = main
[submodule "swift-tui-web"]
	path = swift-tui-web
	url = git@github.com:SwiftTUI/swift-tui-web.git
  branch = main
[submodule "swift-tui-examples"]
	path = swift-tui-examples
	url = git@github.com:SwiftTUI/swift-tui-examples.git
  branch = main
[submodule "swift-tui-site"]
	path = swift-tui-site
	url = git@github.com:SwiftTUI/swift-tui-site.git
  branch = main
[submodule "swift-tui-android"]
	path = swift-tui-android
	url = git@github.com:SwiftTUI/swift-tui-android.git
